.chart-container {
    height: calc(100vh - 200px);
    width: 100%;
  }

.container {
    margin: 0 auto;
}

.legend {
    margin-top: 20px;
  }
  
  .legend ul {
    list-style-type: none;
    padding: 0;
  }
  
  .legend li {
    margin: 5px 0;
    font-weight: bold;
  }
  
  .chart-container {
    height: calc(100vh - 200px);
  }
  
  .field {
    margin-bottom: 20px;
  }
  